<div class="inner-content">
  <button style="margin-bottom: 10px;" nz-button nzType="primary" (click)="add()">
    <span>添加导航</span>
  </button>
  <nz-table [nzLoading]="loading"
            [nzData]="listOfData"
            [nzTotal]="currentData.total"
            [nzPageIndex]="currentData.current_page"
            [nzFrontPagination]="false"
            [nzPageSize]="currentData.per_page"
            (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th>排序</th>
      <th>导航名称</th>
      <th>菜单显示</th>
      <th>导航链接</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="dropNav($event)">
    <tr cdkDrag *ngFor="let data of listOfData">
      <td colspan="4" class="custom-placeholder" *cdkDragPlaceholder> </td>
      <td><i nz-icon nzType="drag" nzTheme="outline" cdkDragHandle></i></td>
      <td>{{ data.navigation_name}}</td>
      <td>
        <nz-tag *ngIf="data.menu_show === 1" nzColor="success">显示</nz-tag>
        <nz-tag *ngIf="data.menu_show === 0" nzColor="error">不显示</nz-tag>
      </td>
      <td>{{ data.navigation_link }}</td>
      <td>
        <a (click)="update(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onDelete(data)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="编辑导航" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="navigation_name">导航名称</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入导航名称!">
          <input nz-input formControlName="navigation_name" id="navigation_name" placeholder="导航名称"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="navigation_link">导航链接</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入导航链接!">
          <input formControlName="navigation_link" id="navigation_link" nz-input placeholder="导航链接"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="icon">导航图标</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入导航图标!">
          <input formControlName="icon" id="icon" nz-input  placeholder="导航图标"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">关闭</button>
    <button nz-button nzType="primary" (click)="handleOk()">保存</button>
  </div>
</nz-modal>
