<div class="inner-content">
  <nz-table [nzLoading]="loading"
            [nzData]="listOfData"
            [nzTotal]="currentData.total"
            [nzPageIndex]="currentData.current_page"
            [nzFrontPagination]="false"
            [nzPageSize]="currentData.per_page"
            (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th>行为名称</th>
      <th>行为描述</th>
      <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfData">
      <td>{{ data.action_name}}</td>
      <td>{{ data.action_description}}</td>
      <td>{{ data.created_at }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
